@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono.ttf")
}

html {
  overflow-y: overlay;
}

::-webkit-scrollbar {
  scrollbar-gutter: auto;
}

::-webkit-scrollbar-track {
  background-color: #1C1E26;

}

::-webkit-scrollbar-thumb {
  background-color: #242731;
  width: 3px;
}