@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('assets/fonts/JetBrainsMono.ttf');

::-webkit-scrollbar {
  scrollbar-gutter: auto;
  padding: 4px;
}

::-webkit-scrollbar-track {
  background-color: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  background-color: #414141;
  width: 4px;
}